{
  "presets": [
    [
      "@deboxsoft/babel-preset-devel",
      {
        "react": {
          "enable": true
        },
        "removePropTypes": false
      }
    ],
    "@deboxsoft/devel-typescript/babel/preset"
  ],
  "plugins": []
}
