{
  "bracketSpacing": true,
  "semi": true,
  "singleQuote": true,
  "printWidth": 110,
  "overrides": [
    {
      "files": [".js", ".jsx"],
      "options": {
        "parser": "babel"
      }
    },
    {
      "files": "*.{ts,tsx}",
      "options": {
        "parser": "typescript"
      }
    },
    {
      "files": ["yaml", "yml"],
      "options": {
        "parser": "yaml"
      }
    }
  ]
}
