{
    "extends": ["@deboxsoft/devel/typescript"],
    "rules": {
      "@typescript-eslint/no-non-null-assertion": 0,
      "@typescript-eslint/no-explicit-any": 0,
      "no-use-before-define": 0
    }
  }
  